.button {
  font-size: 16px;
  margin-right: 5px;
  width: 120px;
  background-color: #da14ff;
  border-color: #da14ff;
  color: white;
}

.button:hover {
  background-color: #9600b2;
  border-color: #9600b2;
}

.button:active {
  background-color: #9600b2;
  border-color: #9600b2;
}

.conditionContainer {
  display: flex;
  align-items: center;
}

.container:hover {
  cursor: pointer;
}

.detailsContainer {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  background-color: white;
  margin: 5px 10px 10px 10px;
  border-radius: 6px;
}

.error {
  margin-bottom: 0px;
  color: #da14ff;
}

.image {
  width: 100px;
  height: 100px;
}

.info {
  max-height: 40px;
  max-width: 120px;
  text-align: right;
  margin-right: 5px;
  overflow: hidden;
}

.infoModal {
  text-align: center;
  margin-right: 5px;
  width: 300px;
  text-overflow: ellipsis;
}

.infoModal:focus {
  box-shadow: 0 1px 1px #00ff00 inset, 0 0 8px #00ff00;
  border-color: #00ff00;
  outline: 0 none;
}

.innerRow {
  display: flex;
  align-items: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label,
.modalLabel {
  margin-right: 30px;
  margin-left: 5px;
  font-weight: bold;
}

.modalLabel {
  font-size: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 10px;
}

#album {
  font-style: italic;
}

#modalCondition {
  justify-content: flex-end;
}
