.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 6px;
  margin: 5px;
  border: 1px solid black;
  max-height: 600px;
}

.container:hover {
  cursor: pointer;
}

.detailsContainer {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  background-color: white;
  margin: 5px 10px 10px 10px;
  border-radius: 6px;
}

.image {
  width: 100px;
  height: 100px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 10px;
}

.innerRow {
  display: flex;
  align-items: center;
}

.label {
  margin-right: 30px;
  margin-left: 5px;
  font-weight: bold;
}

#album {
  font-style: italic;
}

.conditionContainer {
  display: flex;
}

.info {
  text-align: right;
  margin-right: 5px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30ch;
  height: 30ch;
  background-image: url(https://drscdn.500px.org/photo/435236/q%3D80_m%3D1500/v2?webp=true&sig=67031bdff6f582f3e027311e2074be452203ab637c0bd21d89128844becf8e40);
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid #da14ff;
  margin: 30px 10px 30px 10px;
}

.card:hover {
  cursor: pointer;
}

.card:focus {
  border-color: #00ff00;
  box-shadow: 0 1px 1px #00ff00 inset, 0 0 8px #00ff00;
  outline: 0 none;
}
