.modal {
  top: 15%;
}

.container {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 50px;
}

#closeIcon {
  color: #da14ff;
  margin: 10px 10px 0px 0px;
}

#closeIcon:hover {
  color: #9600b2;
  cursor: pointer;
}

#recordIcon {
  margin: 10px 0px 10px 0px;
}

.button {
  background-color: #da14ff;
  border: 1px solid #da14ff;
}

.button:hover {
  background-color: #9600b2;
  border-color: #9600b2;
}
